{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "configDir": "./"
    },
    "initialTestsPhpOptions": "-d zend_extension=xdebug.so",
    "mutators": {
        "@default": true
    },
    "logs": {
        "badge": {
            "branch": "master"
        }
    }
}
